.container {
    background-color: #00cf35;
}

.title {
    color: #ffffff;
    font-size: 2em;
}
.text {
    color: #ffffff;
    
}
.middleContainer {

    display: flex;  
    
    justify-content: center;
    margin-top: 15%;
}
.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
}