.container {
    background-color: #00cf35;
    min-height: 100vh;
}
@media (min-height: 667px) {
    .container{
        max-height: 100vh;
    }
}
@media (min-height: 568px) {
    .container{
        max-height: 100vh;
    }
}

.title {
    color: #ffffff;
    font-size: 2em;
}
.text {
    color: #ffffff;
    margin-bottom: 3em;
    
}
.middleContainer {

    display: flex;  
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
}
.backgroundImage{
    width: 40%;
    height: 25%;
    margin-left: 11em;
    /* margin-bottom: 10em; */
}