.container {
    background-color:#001935; 
    padding: 10px;
    height: 100%;
}
.titleCategory {
    color: #ffffff;
    font-size: 2em;
    font-weight: normal;
}
.postContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    align-items: flex-start;
    
}
section > section {
    width: 300px;;
}




@media screen and (max-width: 550px) {
    .postContainer {
        display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    }
    section > section {
        width: 100%;
    }
}
