.container {
    background-color:#001935; 
    padding: 10px;
    height: 100%;
}
.titleCategory {
    color: #ffffff;
    font-size: 2em;
    font-weight: normal;
}
.postContainer {
    /* display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    align-items: flex-start;
    width: 755px;
    justify-content: flex-start; */



    display: flex;
    
    /* justify-items: center; */
    
    align-items: flex-start;
    justify-content: flex-start;
   
}

section > section {
    width: 500px ;
   
   
}
/* section > section {
    width: 300px;;
} */

/* div > section {
    width: 90%;
} */


/* section > section {
    width: 90%;
} */


 section>main>img {
    width: 250px;
}
@media screen and (max-width: 800px) {
    .postContainer {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        align-items: center;
    }
    section>main>img {
        width: 100%;
    }
    section > section {
        width: 80%;;
    }
}

@media screen and (max-width: 500px) {
    section>main>img {
        width: 100%;
    }
}
