.container {
    /* background: purple;    */
    display: flex;   
    justify-content: center;
    background-image: url('./background.jpg');
    max-height: 100vh;
}
/* @media (min-height: 568px) {
    .container{
        min-height: 100vh;
    }
} */
.text {
    color: white;
    
}
.title {
 
    font-size: 4em;
    color: white;
    margin-bottom: 0;
}
.information{
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: justify;
    padding: 4em;
}
.middle {
    display: flex;  
    
    justify-content: center;
    margin-top: 15%;
    
}

.loginButton {
    color: black;
    background-color: #ffffff;
}
.loginContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.headerContainer {
    width: 100%;
}
.NavButton{
    width: 40%;
}
