.container {
    color:  black;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}


.buttonPost, .buttonClose {

    width: 56px;
    font-weight: bold;
    font-size: 12px;
    height: 30px;
    border-radius: 5px;


}
.buttonClose {
    background-color:  #9da6af;
    color: white;
}

.buttonPost {
    background-color: #00b8ff;
    color: #72d8ff;
}

.titleInput {
    height: 20%;   
    border: none;
    outline: none;
    font-size: 2em;
    margin-bottom: 15px;
}

.descriptionInput {
    border: none;
    width: 490px;
    resize: none;
    outline: none;
    font-size: 1.3em;
    min-height: 80px;
}

.footerContainer {
    display: flex;
    justify-content: space-between;    
    width: 500px;
    margin-top: 10px;

}
.selectCategory {
    background-color: #001935;
    color: white;
    width: 500px;
    border: none;
}

.hashtagsInput {
    width: 500px;
    border: none;
    margin-bottom: 10px;
    outline: none;
}